<header id="header">

	<div class="container">

		<nav id="main-nav">
			<ul>
				<li>
					<a href="javascipt:;">Menu Item 1</a>
				</li>
				<li>
					<a href="javascipt:;">Menu Item 2</a>
				</li>
			</ul>
		</nav>

	</div>

</header>
