
/* margin modifiers */

.no-margin {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.no-margin-top { margin-top: 0px !important; }
.no-margin-right { margin-right: 0px !important; }
.no-margin-bottom { margin-bottom: 0px !important; }
.no-margin-left { margin-left: 0px !important; }

.horiz-centered {
	margin-left: auto !important;
	margin-right: auto !important;
}

/* padding modifiers */

.no-padding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.no-padding-top { padding-top: 0px !important; }
.no-padding-right { padding-right: 0px !important; }
.no-padding-bottom { padding-bottom: 0px !important; }
.no-padding-left { padding-left: 0px !important; }

/* border modifiers */

.no-border {
	border-top: 0 none !important;
	border-bottom: 0 none !important;
}

.no-border-top { border-top: 0 none !important; }
.no-border-right { border-right: 0 none !important; }
.no-border-bottom { border-bottom: 0 none !important; }
.no-border-left { border-left: 0 none !important; }

/* spacers (usually used as <hr/>) */

.spacer {

	position: relative;
	width: 100%;
	clear: both;
	background: transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
}

.spacer-0 { padding-top: 0px !important; }
.spacer-1 { padding-top: 1px !important; }
.spacer-2 { padding-top: 2px !important; }
.spacer-3 { padding-top: 3px !important; }
.spacer-4 { padding-top: 4px !important; }
.spacer-5 { padding-top: 5px !important; }
.spacer-6 { padding-top: 6px !important; }
.spacer-7 { padding-top: 7px !important; }
.spacer-8 { padding-top: 8px !important; }
.spacer-9 { padding-top: 9px !important; }
.spacer-10 { padding-top: 10px !important; }
.spacer-20 { padding-top: 20px !important; }
.spacer-30 { padding-top: 30px !important; }
.spacer-40 { padding-top: 40px !important; }
.spacer-50 { padding-top: 50px !important; }
.spacer-60 { padding-top: 60px !important; }
.spacer-70 { padding-top: 70px !important; }
.spacer-80 { padding-top: 80px !important; }
.spacer-90 { padding-top: 90px !important; }
.spacer-100 { padding-top: 100px !important; }
.spacer-110 { padding-top: 110px !important; }
.spacer-120 { padding-top: 120px !important; }
.spacer-140 { padding-top: 140px !important; }
.spacer-160 { padding-top: 160px !important; }
.spacer-180 { padding-top: 180px !important; }
.spacer-200 { padding-top: 200px !important; }

@media(min-width: 768px){

	.spacer-xs-0 { padding-top: 0px !important; }
	.spacer-xs-1 { padding-top: 1px !important; }
	.spacer-xs-2 { padding-top: 2px !important; }
	.spacer-xs-3 { padding-top: 3px !important; }
	.spacer-xs-4 { padding-top: 4px !important; }
	.spacer-xs-5 { padding-top: 5px !important; }
	.spacer-xs-6 { padding-top: 6px !important; }
	.spacer-xs-7 { padding-top: 7px !important; }
	.spacer-xs-8 { padding-top: 8px !important; }
	.spacer-xs-9 { padding-top: 9px !important; }
	.spacer-xs-10 { padding-top: 10px !important; }
	.spacer-xs-20 { padding-top: 20px !important; }
	.spacer-xs-30 { padding-top: 30px !important; }
	.spacer-xs-40 { padding-top: 40px !important; }
	.spacer-xs-50 { padding-top: 50px !important; }
	.spacer-xs-60 { padding-top: 60px !important; }
	.spacer-xs-70 { padding-top: 70px !important; }
	.spacer-xs-80 { padding-top: 80px !important; }
	.spacer-xs-90 { padding-top: 90px !important; }
	.spacer-xs-100 { padding-top: 100px !important; }
	.spacer-xs-110 { padding-top: 110px !important; }
	.spacer-xs-120 { padding-top: 120px !important; }
	.spacer-xs-140 { padding-top: 140px !important; }
	.spacer-xs-160 { padding-top: 160px !important; }
	.spacer-xs-180 { padding-top: 180px !important; }
	.spacer-xs-200 { padding-top: 200px !important; }
}

@media(min-width: 992px){

	.spacer-sm-0 { padding-top: 0px !important; }
	.spacer-sm-1 { padding-top: 1px !important; }
	.spacer-sm-2 { padding-top: 2px !important; }
	.spacer-sm-3 { padding-top: 3px !important; }
	.spacer-sm-4 { padding-top: 4px !important; }
	.spacer-sm-5 { padding-top: 5px !important; }
	.spacer-sm-6 { padding-top: 6px !important; }
	.spacer-sm-7 { padding-top: 7px !important; }
	.spacer-sm-8 { padding-top: 8px !important; }
	.spacer-sm-9 { padding-top: 9px !important; }
	.spacer-sm-10 { padding-top: 10px !important; }
	.spacer-sm-20 { padding-top: 20px !important; }
	.spacer-sm-30 { padding-top: 30px !important; }
	.spacer-sm-40 { padding-top: 40px !important; }
	.spacer-sm-50 { padding-top: 50px !important; }
	.spacer-sm-60 { padding-top: 60px !important; }
	.spacer-sm-70 { padding-top: 70px !important; }
	.spacer-sm-80 { padding-top: 80px !important; }
	.spacer-sm-90 { padding-top: 90px !important; }
	.spacer-sm-100 { padding-top: 100px !important; }
	.spacer-sm-110 { padding-top: 110px !important; }
	.spacer-sm-120 { padding-top: 120px !important; }
	.spacer-sm-140 { padding-top: 140px !important; }
	.spacer-sm-160 { padding-top: 160px !important; }
	.spacer-sm-180 { padding-top: 180px !important; }
	.spacer-sm-200 { padding-top: 200px !important; }
}

@media(min-width: 1200px){

	.spacer-md-0 { padding-top: 0px !important; }
	.spacer-md-1 { padding-top: 1px !important; }
	.spacer-md-2 { padding-top: 2px !important; }
	.spacer-md-3 { padding-top: 3px !important; }
	.spacer-md-4 { padding-top: 4px !important; }
	.spacer-md-5 { padding-top: 5px !important; }
	.spacer-md-6 { padding-top: 6px !important; }
	.spacer-md-7 { padding-top: 7px !important; }
	.spacer-md-8 { padding-top: 8px !important; }
	.spacer-md-9 { padding-top: 9px !important; }
	.spacer-md-10 { padding-top: 10px !important; }
	.spacer-md-20 { padding-top: 20px !important; }
	.spacer-md-30 { padding-top: 30px !important; }
	.spacer-md-40 { padding-top: 40px !important; }
	.spacer-md-50 { padding-top: 50px !important; }
	.spacer-md-60 { padding-top: 60px !important; }
	.spacer-md-70 { padding-top: 70px !important; }
	.spacer-md-80 { padding-top: 80px !important; }
	.spacer-md-90 { padding-top: 90px !important; }
	.spacer-md-100 { padding-top: 100px !important; }
	.spacer-md-110 { padding-top: 110px !important; }
	.spacer-md-120 { padding-top: 120px !important; }
	.spacer-md-140 { padding-top: 140px !important; }
	.spacer-md-160 { padding-top: 160px !important; }
	.spacer-md-180 { padding-top: 180px !important; }
	.spacer-md-200 { padding-top: 200px !important; }
}

@media(min-width: 1480px){

	.spacer-lg-0 { padding-top: 0px !important; }
	.spacer-lg-1 { padding-top: 1px !important; }
	.spacer-lg-2 { padding-top: 2px !important; }
	.spacer-lg-3 { padding-top: 3px !important; }
	.spacer-lg-4 { padding-top: 4px !important; }
	.spacer-lg-5 { padding-top: 5px !important; }
	.spacer-lg-6 { padding-top: 6px !important; }
	.spacer-lg-7 { padding-top: 7px !important; }
	.spacer-lg-8 { padding-top: 8px !important; }
	.spacer-lg-9 { padding-top: 9px !important; }
	.spacer-lg-10 { padding-top: 10px !important; }
	.spacer-lg-20 { padding-top: 20px !important; }
	.spacer-lg-30 { padding-top: 30px !important; }
	.spacer-lg-40 { padding-top: 40px !important; }
	.spacer-lg-50 { padding-top: 50px !important; }
	.spacer-lg-60 { padding-top: 60px !important; }
	.spacer-lg-70 { padding-top: 70px !important; }
	.spacer-lg-80 { padding-top: 80px !important; }
	.spacer-lg-90 { padding-top: 90px !important; }
	.spacer-lg-100 { padding-top: 100px !important; }
	.spacer-lg-110 { padding-top: 110px !important; }
	.spacer-lg-120 { padding-top: 120px !important; }
	.spacer-lg-140 { padding-top: 140px !important; }
	.spacer-lg-160 { padding-top: 160px !important; }
	.spacer-lg-180 { padding-top: 180px !important; }
	.spacer-lg-200 { padding-top: 200px !important; }
}
