<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Homepage</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print" />

        <link href="/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--[if (gte IE 6)&(lte IE 8)]>
            <script type="text/javascript" src="/assets/js/lib/selectivizr.min.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script type="text/javascript" src="/assets/js/lib/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div id="main">

            <header id="main-header">

                <div class="top-bar">

                    <div class="language-selector">
                        <div class="select-label">US <span class="lang-detail">EN</span><figure class="icon-down-carrot"></figure></div>
                        <ul>
                            <li class="lang-prefix">UK</li>
                            <li class="lang-prefix">ES</li>
                            <li class="lang-prefix">FR</li>
                        </ul>
                    </div>

                    <ul class="right-supmenu">
                        <li class="help">Help</li>
                        <li class="find-a-store">Find a Store</li>
                        <li class="log-in">Log-In</li>
                        <li class="cart">Cart</li>
                        <li class="cart-counter">1</li>
                    </ul>  

                </div>

                <nav class="main-nav">

                    <div class="logo left-align">
                        <a href="#"><figure class="logo-graphic"></figure></a>
                    </div>

                    <ul class="nav-links center-align">
                        <li class="mens"><a href="#">Mens</a></li>
                        <li class="womens"><a href="#">Womens</a></li>
                        <li class="kids"><a href="#">Kids</a></li>
                        <li class="utility"><a href="#">Utility</a></li>
                        <li class="sale"><a href="#">Sale</a></li>
                    </ul>

                    <div class="search right-align">
                        <button class="search-icon"><figure class="search-graphic"></figure></button>
                    </div>

                </nav>

            </header>

            <div class="page">

                <!-- top hero -->

                <section class="hero-slider">

                    <ul class="hero-slides">

                        <li class="hero-slide">
                            <a href="#" target="_self">
                                <figure class="slide-image"></figure>                                
                                <figcaption>
                                    <h2>We Create<br />For Your<br />Adventures</h2>
                                    <h3>Built extra tough for long excursions through rugged terrain with a heavy pack on your back. In mattis non dolor non ultricies lore pellentesque eget justo.<i class="icon right-arrow"></i></h3>
                                </figcaption>
                            </a>
                        </li>

                    </ul>

                    <ul class="hero-cats">

                        <li class="outdoor">
                            <figure class="bg-image"></figure>
                            <figcaption>Outdoor</figcaption>
                        </li>

                        <li class="casual">
                            <figure class="bg-image"></figure>
                            <figcaption>Casual</figcaption>
                        </li>

                        <li class="uneek">
                            <figure class="bg-image"></figure>
                            <figcaption>Uneek</figcaption>
                        </li>

                        <li class="kids">
                            <figure class="bg-image"></figure>
                            <figcaption>Kids</figcaption>
                        </li>

                        <li class="utility">
                            <figure class="bg-image"></figure>
                            <figcaption>Utility</figcaption>
                        </li>
                    </ul>

                    <!-- module data and templates -->

                    <ul class="module-data display-none">
                        <li data-click-url="#" data-click-target="_self" data-image-url="./assets/img/home/hero2.jpg" data-h2="We Create<br />For Your<br />Adventures" data-h3="Built extra tough for long excursions through rugged terrain with a heavy pack on your back. In mattis non dolor non ultricies lore pellentesque eget justo."></li>
                        <li data-click-url="#" data-click-target="_self" data-image-url="./assets/img/home/hero2.jpg" data-h2="We Create<br />For Your<br />Adventures" data-h3="Built extra tough for long excursions through rugged terrain with a heavy pack on your back. In mattis non dolor non ultricies lore pellentesque eget justo."></li>
                        <li data-click-url="#" data-click-target="_self" data-image-url="./assets/img/home/hero2.jpg" data-h2="We Create<br />For Your<br />Adventures" data-h3="Built extra tough for long excursions through rugged terrain with a heavy pack on your back. In mattis non dolor non ultricies lore pellentesque eget justo."></li>
                    </ul>

                    <script type="text/template" class="image-template">

                        <li class="hero-slide">
                            <a href="<%= clickUrl %>" target="<%= clickTarget %>">
                                <figure class="slide-image"></figure>
                                <figcaption>
                                    <h2><%= h2 %></h2>
                                    <h3><%= h3 %><i class="icon right-arrow"></i></h3>
                                </figcaption>
                            </a>
                        </li>

                    </script>

                </section>

                <!-- women falling into fall -->

                <section class="women-fall">

                    <div class="left-col">

                        <div class="description">
                            <h2>Fallin'<br />for Fall</h2>
                            <h3>Whitewater rafting is an adrenaline-packed summer activity, and part of the thrill is the danger of going into the drink. Cras placerat finibus ante, luctus sagittis purus ornare quis.</h3>
                        </div>

                        <div class="product">

                            <div class="information">
                                <div class="white-block">
                                    <div class="product-name">Hoodoo</div>
                                    <div class="subtext">$100 | 2 Colors</div>
                                    <div class="rating">
                                        <figure class="stars-filled"></figure>
                                        <figure class="stars-empty"></figure>
                                    </div>
                                    <div class="details">The cushioning cork and latex footbed conforms to your foot's natural shape.</div>
                                </div>
                                <button class="learn-more">Learn More</button>
                            </div>

                            <div class="photo">
                                <figure class="product-photo"></figure>
                                <figure class="masked-border"></figure>
                            </div>

                        </div>

                    </div>

                    <div class="right-col">

                        <div class="description">
                            <div class="suptext">Keen Ambassador<span class="slashes">//</span><a href="http://www.instagram.com" target="_blank">@jasmith</a></div>
                            <div class="description">With style so effortless and comfort that is criminal, the Hoodoo is the ultimate boot for the on-the-go girl.</div>
                            <div class="author">
                                <div class="name">Jasmine Smith</div>
                                <div class="rep">fashion blogger + social entrepreneur</div>
                            </div>
                            <button class="arrow"></button>
                        </div>

                        <div class="photo">
                            <figure class=""></figure>
                        </div> 

                    </div>

                    <div class="explore-tab">
                        <figure class="arrow"></figure>
                        <figure class="bg"></figure>
                        <div class="suptitle">Explore</div>
                        <div class="title">Womens Fall</div>
                    </div> 

                </section>

                <!-- keen effect -->

                <section class="keen-effect">

                    <div class="center">
                        <figure class="graphic"></figure>
                        <h2>KEEN EFFECT</h2>
                        <h4>Est. 2013</h4>
                        <h3>We're committed to inspiring responsible outdoor participation to help preserve the places we all play. The KEEN Effect is a way for us to support organizations who are dedicated to just that!
$10,000 grants to nonprofit organizations around the world who are dedicated to responsible outdoor participation. Help us find those groups!</h3>
                    </div>

                    <div class="explore-tab">
                        <figure class="arrow"></figure>
                        <figure class="bg"></figure>
                        <div class="suptitle">Explore</div>
                        <div class="title">Keen Effect</div>
                    </div> 

                    <figure class="wire"></figure>
                    <figure class="bg"></figure>

                </section>

            </div>

            <footer id="main-footer">

                <ul class="footer-nav">

                    <li class="customer-care">Customer Care</li>
                    <li class="shipping-returns">Shipping &amp; Returns</li>
                    <li class="warranty">Warranty</li>
                    <li class="gift-cards">Gift Cards</li>
                    <li class="faq">FAQ</li>
                    <li class="logo">
                        <figure class="keen-logo"></figure>
                        <figure class="copyright"></figure>
                        <figcaption>&copy; KEEN FOOTWEAR&trade; 2016</figcaption>
                    </li>
                    <li class="about-keen">About Keen</li>
                    <li class="blog">Blog</li>
                    <li class="contact-us">Contact Us</li>
                    <li class="keen-careers">Keen Careers</li>
                    <li class="privacy-terms">Privacy &amp; Terms</li>

                </ul>

                <div class="social-icons-wrapper">
                    <figure class="top-line"></figure>
                    <ul class="social-icons">
                        <li class="instagram"><i class="icon"></i></li>
                        <li class="pinterest"><i class="icon"></i></li>
                        <li class="facebook"><i class="icon"></i></li>
                        <li class="vimeo"><i class="icon"></i></li>
                        <li class="twitter"><i class="icon"></i></li>
                    </ul>
                    <figure class="bottom-line"></figure>
                </div>

                <div class="footer-quote-wrapper">
                    <figure class="quote-mark"></figure>
                    <div class="footer-quote">
                        <span>Between every two pines is a doorway to a new world.</span>
                        <cite>John Muir</cite>
                    </div>
                </div>

            </footer>

        </div>

        <!-- libs -->

        <script type="text/javascript" src="/assets/js/libs/modernizr.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/lib/jquery.min.js"><\/script>')</script>

        <!-- compiled scripts -->

        <script type="text/javascript" src="/assets/js/plugins.min.js"></script>
        <script type="text/javascript" src="/assets/js/main.min.js"></script>

    </body>

</html>