<section class="hero-slider row">    
    <div class="inner-container">

        <ul class="hero-slides">

            <li class="hero-slide">
                <a href="#" target="_self">
                    <img class="slide-image responsive" src="assets/img/components/hero/hero-big1.jpg" />
                    <figcaption>
                        <div class="vert-centered">
                            <h2>We Create<br />For Your<br />Adventures</h2>
                            <h4>Built extra tough for long excursions through rugged terrain with a heavy pack on your back. In mattis non dolor non ultricies lore pellentesque eget justo.<i class="icon right-arrow"></i></h4>
                        </div>
                    </figcaption>
                </a>
            </li>

        </ul>

        <ul class="hero-cats">

            <li class="cols-5up outdoor">
                <a href="#">
                    <img class="bg-image responsive" src="assets/img/components/hero/hero-option1.jpg" />
                    <figcaption><h3>Outdoor</h3></figcaption>
                    <button class="cta"><i class="icon"></i></button>
                </a>
            </li>

            <li class="cols-5up casual">
                <a href="#">
                    <img class="bg-image responsive" src="assets/img/components/hero/hero-option2.jpg" />
                    <figcaption><h3>Casual</h3></figcaption>
                    <button class="cta"><i class="icon"></i></button>
                </a>
            </li>

            <li class="cols-5up uneek">
                <a href="#">
                    <img class="bg-image responsive" src="assets/img/components/hero/hero-option3.jpg" />
                    <figcaption><h3>Uneek</h3></figcaption>
                    <button class="cta"><i class="icon"></i></button>
                </a>
            </li>

            <li class="cols-5up kids">
                <a href="#">
                    <img class="bg-image responsive" src="assets/img/components/hero/hero-option4.jpg" />
                    <figcaption><h3>Kids</h3></figcaption>
                    <button class="cta"><i class="icon"></i></button>
                </a>
            </li>

            <li class="cols-5up utility">
                <a href="#">
                    <img class="bg-image responsive" src="assets/img/components/hero/hero-option5.jpg" />
                    <figcaption><h3>Utility</h3></figcaption>
                    <button class="cta"><i class="icon"></i></button>
                </a>
            </li>
        </ul>

        <div class="hero-controls">

            <button class="prev">
            </button>

            <ul class="hero-nav-items"></ul>

            <buton class="next">
            </buton>

        </div>

        <!-- module data and templates -->

        <ul class="module-data display-none">
            <li data-click-url="#" data-click-target="_self" data-image-url="./assets/img/home/hero2.jpg" data-h2="We Create<br />For Your<br />Adventures" data-h3="Built extra tough for long excursions through rugged terrain with a heavy pack on your back. In mattis non dolor non ultricies lore pellentesque eget justo."></li>
            <li data-click-url="#" data-click-target="_self" data-image-url="./assets/img/home/hero2.jpg" data-h2="We Create<br />For Your<br />Adventures" data-h3="Built extra tough for long excursions through rugged terrain with a heavy pack on your back. In mattis non dolor non ultricies lore pellentesque eget justo."></li>
            <li data-click-url="#" data-click-target="_self" data-image-url="./assets/img/home/hero2.jpg" data-h2="We Create<br />For Your<br />Adventures" data-h3="Built extra tough for long excursions through rugged terrain with a heavy pack on your back. In mattis non dolor non ultricies lore pellentesque eget justo."></li>
        </ul>

    </div>

    <script type="text/template" class="hero-slide-template">

        <li class="hero-slide">
            <a href="<%= clickUrl %>" target="<%= clickTarget %>">
                <img class="slide-image responsive" src="<%= imageUrl %>" />
                <figcaption>
                    <div class="vert-centered">
                        <h2><%= h2 %></h2>
                        <h4><%= h4 %><i class="icon right-arrow"></i></h4>
                    </div>
                </figcaption>
            </a>
        </li>

    </script>

    <script type="text/template" class="hero-nav-item-template">

        <li class="hero-nav-item">
            <a href="<%= clickUrl %>" target="<%= clickTarget %>">
                <i class="icon"></i>
            </a>
        </li>

    </script>

</section>