
/* backgrounds */

$bgMain: #d8d8d8;
$bgWhite: #ffffff;
$bgLight: #f0f3f4;
$bgYellow: #fbd039;
$bgDark: #373737;
$bgBlack: #000000;

/* text */

$textDark: #373737;
$textSerifGrey: #4f4f4f;
$textDetailGrey: #7a7a7a;
$textItalicGrey: #373737;
$textDarkGrey: #373737;
$textGrey: #686969;
$textLight: #f0f3f4;
$textWhite: #ffffff;
$textYellow: #fdd02f;
$textLightGrey: #9e9e9e;