
.product-left-ambassador-right {

	>.inner-container {
		@include float-left;
		margin: 0 $colGutter/2;
		padding: 120px #{$colWidth*2-$colGutter/2};
		background: #e5e8e8 url('../img/global/paper-texture.jpg');
	}

	.col {
		@include float-left;
		width: calc(50% - 40px);
	}

	.left-col {

		margin-right: 80px;

		.description {

			h2 {
				@include proxima-extrabold;
				font-size: 65px;
				line-height: 61px;
				letter-spacing: 0px;
				color: $textDark;
				text-transform: uppercase;
			}

			h3 {
				
				@include merriweather;
				width: 66%;

				font-size: 13px;
				line-height: 22px;
				color: $textSerifGrey;
				margin-top: 34px;
			}
		}

		.product {

			@include float-left;
			margin-top: 100px;

			.information {

				@include absolute;
				width: 100%;
				z-index: 10;

				.white-block {

					@include float-right;
					width: 30%;
					min-width: 225px;
					background: $bgLight;
					z-index: 100;
					text-align: right;
					padding: 30px;
					margin: -20px -15px 0 0;

					.product-name {

						@include proxima-extrabold;
						color: $textDark;
						font-size: 14px;
						line-height: 19px;
						text-transform: uppercase;
					}

					.subtext {

						@include proxima-extrabold;
						color: $textDetailGrey;
						font-size: 13px;
						line-height: 19px;
						margin-bottom: 10px;
					}

					.rating {

						.stars-filled {

						}

						.stars-empty {

						}
					}

					.details {

						@include inline-block;
						width: 80%;

						@include merriweather;
						font-size: 12px;
						line-height: 18px;	
						letter-spacing: 0.02em;
						color: $textSerifGrey;					
					}
				}

				.learn-more {

					@include float-right;
					margin: 10px -15px 0 0;
					clear: both;
				}
			}

			.photo {

				@include relative;

				.product-photo {
					z-index: 100;
				}

				.masked-border {

					@include absolute;
					width: 100%;
					z-index: 0;

					img {

					}

					.border-blocker {

						@include absolute;
						top: $colGutter;
						left: $colGutter;
						right: $colGutter;
						bottom: $colGutter;
						z-index: 5;						
						background: #e5e8e8 url('../img/global/paper-texture.jpg');
					}

				}
			}
		}
	}

	.right-col {

		.description {

			@include absolute;
			left: auto;
			top: auto;
			right: 0px;
			bottom: 0px;
			background: $bgLight;
			width: 65%;
			padding: 40px;
			text-align: left;
			margin-right: -#{$colWidth - $colGutter};
			margin-bottom: -$colWidth*2;
			z-index: 10;

			.suptext {

				@include inline-block;
				@include merriweather-bold;
				font-size: 10px;
				line-height: 19px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: $textGrey;
			}

			.slashes {
				color: $textYellow;
				margin: 0 10px;
			}

			.details {

				@include merriweather-italic;
				font-size: 18px;
				line-height: 28px;
				margin: 27px 0 29px 0;
			}

			.author {

				text-transform: uppercase;

				.name {
					@include proxima-extrabold;
					font-size: 14px;
					letter-spacing: 0.05em;
				}

				.rep {
					@include proxima-semibold;
					font-size: 12px;
					letter-spacing: 0.03em;
				}
			}

			.arrow {

				@include absolute;
				left: auto;
				top: auto;
				right: 0px;
				bottom: 0px;
				width: 10px;
				height: 10px;
				margin: 0;
				padding: 0;
			}
		}

		.photo {

		}
	}
}