
.cols-2up {
	width: calc(50% - #{$colGutter});
	margin: 0 #{$colGutter/2};
}

.cols-3up {
	width: calc(33.333333% - #{$colGutter});
	margin: 0 #{$colGutter/2};
}

.cols-4up {
	width: calc(25% - #{$colGutter});
	margin: 0 #{$colGutter/2};
}

.cols-5up {
	width: calc(20% - #{$colGutter});
	margin: 0 #{$colGutter/2};
}

.cols-6up {
	width: calc(66.666667% - #{$colGutter});
	margin: 0 #{$colGutter/2};
}