
        <!-- libs -->

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/lib/jquery.min.js"><\/script>')</script>

        <!-- compiled scripts -->

        <script type="text/javascript" src="/assets/js/plugins.min.js"></script>
        <script type="text/javascript" src="/assets/js/main.min.js"></script>

        <!-- fonts -->
        
        <script src="https://use.typekit.net/nhs0gnx.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

    </body>

</html>