<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Homepage</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print" />

        <link href="/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--[if (gte IE 6)&(lte IE 8)]>
            <script type="text/javascript" src="/assets/js/lib/selectivizr.min.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script type="text/javascript" src="/assets/js/lib/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>