<form action="" id="foobar">
	<input type="text" class="foo bar" name="username" required />
	<input type="password" name="password" id="password" required />
	<input type="password" name="password2" id="password2" required />
	<input type="submit">
</form>
