<section class="keen-effect row">
    <div class="inner-container">

        <div class="center">
            <img class="mountain" src="assets/img/content-blocks/keen-effect-mountain.png" />
            <h2>KEEN EFFECT</h2>
            <h6>Est. 2013</h6>
            <h4>We're committed to inspiring responsible outdoor participation to help preserve the places we all play. The KEEN Effect is a way for us to support organizations who are dedicated to just that!
$10,000 grants to nonprofit organizations around the world who are dedicated to responsible outdoor participation.</h4>
        </div>

        <div class="explore-tab">
            <figure class="arrow"></figure>
            <figure class="bg"></figure>
            <div class="suptitle">Explore</div>
            <div class="title">Keen Effect</div>
        </div> 

    </div>
</section>