<section class="product-left-ambassador-right women-fall row">

    <div class="inner-container">

        <div class="left-col col">

            <div class="description">
                <h2>Fallin'<br />for Fall</h2>
                <h3>Whitewater rafting is an adrenaline-packed summer activity, and part of the thrill is the danger of going into the drink. Cras placerat finibus ante, luctus sagittis purus ornare quis.</h3>
            </div>

            <div class="product">

                <div class="information">
                    <div class="white-block">
                        <div class="product-name">Hoodoo</div>
                        <div class="subtext">$100 | 2 Colors</div>
                        <div class="rating">
                            <figure class="stars-filled"></figure>
                            <figure class="stars-empty"></figure>
                        </div>
                        <div class="details">The cushioning cork and latex footbed conforms to your foot's natural shape.</div>
                    </div>
                    <button class="learn-more">Learn More</button>
                </div>

                <div class="photo">
                    <img class="product-photo responsive" src="assets/img/content-blocks/falling-boot.png" />
                    <figure class="masked-border">
                        <img class="responsive" src="assets/img/content-blocks/fall-border.jpg" />
                        <figure class="border-blocker"></figure>
                    </figure>
                </div>

            </div>

        </div>

        <div class="right-col col">

            <div class="description">
                <div class="suptext">Keen Ambassador<span class="slashes">//</span><a href="http://www.instagram.com" target="_blank">@jasmith</a></div>
                <div class="details">With style so effortless and comfort that is criminal, the Hoodoo is the ultimate boot for the on-the-go girl.</div>
                <div class="author">
                    <div class="name">Jasmine Smith</div>
                    <div class="rep">fashion blogger + social entrepreneur</div>
                </div>
                <button class="arrow"></button>
            </div>

            <div class="photo">
                <img class="responsive" src="assets/img/content-blocks/fall-ambassador.jpg" />
            </div> 

        </div>

        <div class="explore-tab">
            <figure class="arrow"></figure>
            <figure class="bg"></figure>
            <div class="suptitle">Explore</div>
            <div class="title">Womens Fall</div>
        </div> 

    </div>

</section>