<footer id="main-footer" class="row">

    <div class="overlay">

        <ul class="footer-nav">

            <li class="customer-care">Customer Care</li>
            <li class="shipping-returns">Shipping &amp; Returns</li>
            <li class="warranty">Warranty</li>
            <li class="gift-cards">Gift Cards</li>
            <li class="faq">FAQ</li>
            <li class="logo">
                <img class="keen-logo" src="assets/img/base/footer-logo.png"></figure>
                <figcaption>&copy; KEEN FOOTWEAR&trade; 2016</figcaption>
            </li>
            <li class="about-keen">About Keen</li>
            <li class="blog">Blog</li>
            <li class="contact-us">Contact Us</li>
            <li class="keen-careers">Keen Careers</li>
            <li class="privacy-terms">Privacy &amp; Terms</li>

        </ul>

        <div class="social-icons-wrapper">
            <figure class="top-line"></figure>
            <ul class="social-icons">
                <li class="instagram"><i class="icon"></i></li>
                <li class="pinterest"><i class="icon"></i></li>
                <li class="facebook"><i class="icon"></i></li>
                <li class="vimeo"><i class="icon"></i></li>
                <li class="twitter"><i class="icon"></i></li>
            </ul>
            <figure class="bottom-line"></figure>
        </div>

        <div class="footer-quote-wrapper">
            <figure class="quote-mark"></figure>
            <div class="footer-quote">
                <p>Between every two pines <br />is a doorway to a new world.</p>
                <cite>John Muir</cite>
            </div>
        </div>

    </div>

    <img class="responsive" src="assets/img/base/footer-bg.jpg" />

</footer>