
html, body {

}

body {
	@include proxima-black();
	color: $textDark;
	background: $bgMain;
}

h1, h2 {

	@include proxima-black();
	font-size: 65px;
}

h3 {

	@include proxima-black();
	font-size: 25px;
}

h4 {
	@include merriweather;
	font-size: 13px;
	color: $textSerifGrey;
}

h5 {
	@include merriweather;
	font-size: 12px;
	color: $textSerifGrey;
}

h5 {

}

h6 {

}

a {
	color: $textDark;
	text-decoration: none;
}

button {
	@include proxima-bold;
	font-size: 12px;
	color: $textLight;
	background: $bgDark;
	text-transform: uppercase;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	padding: 0 27px;
}

input, textarea {

}

select {

}